.text-area-container,
textarea
{
    width: 60%;
    height: 80px;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: 40px;
    margin-right: 20px;
    /* border: 1px solid rgb(107, 114, 12); */
}
.comment-name-continaer{
    margin-right: 20px;
    font-size: 20px;
    color: rgb(59, 130, 246);
}

.comment-comment-container{
    font-size: 18px;

}
.comment-image-container {
    margin-right: 12px;
  }
  
  .comment-name-continaer img {
    margin-right: 20px;
    border-radius: 50px;
  }
  .comment-button{
    margin-bottom: 10px;
    margin-top: 8px;
    margin-left: 20px;
  }